/**
 * Header
 */
.header {
  background-color: rgb(32,111,204);
  color: #fff;
  text-align: center;
  padding: 25px;
}

.header h2 {
  margin: 0;
  line-height: 30px;
  font-size: 26px;
  font-weight: 400;
}

/**
 * Error.
 */
.error {
  color: rgb(182, 0, 4);
}


/**
 * Discover WP API screen.
 */
.discover-wp-api {
  padding: 10px 14px 0;
}

.land-url {
  display: block;
  overflow: auto;
  font-size: inherit;
  padding: 5px 7px;
}

/**
 * Main screen.
 */
.button.new-timer {
  width: 100px;
  padding: 0;
}

.search-timers-wrapper {
  display: inline-block;
  position: relative;
}
.search-timers {
  width: 170px;
  margin-left: 2%;
}
.ajax-results-timers {
  display: none;
  border: 1px solid #888;
  padding: 10px .5em;
  width: 170px;
  position: absolute;
  right: 0;
  top: 31px;
  max-height: 280px;
  overflow: auto;
  background-color: #fff;
}

.ajax-results-timers.show {
  display: block;
}


.ajax-results-timers p {
  margin: 0;
}

.title-clients {
  margin-top: 40px;
}

.taxonomy-terms-list,
.ajax-results-timers ul {
  list-style-type: none;
  padding-left: 0;
}

.no-taxonomy-found,
.taxonomy-terms-list {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.taxonomy-terms-list li,
.ajax-results-timers li {
  padding: 6px 0;
}

.taxonomy-terms-list a {
  text-decoration: none;
}

.ajax-results-timers ul {
  margin: 0;
}


/**
 * Dashboard widgets.
 */
.timer-dashboard-widget {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 0 20px;
  max-height: 1500px;
  overflow-y: auto;
  transition: max-height 0.5s ease-out;
}

.timer-dashboard-widget.closed {
  max-height: 54px;
  overflow-y: hidden;
}

.widget-title {
  text-align: center;
  font-size: 24px;
  line-height: 52px;
  color: rgb(52, 52, 52);
  cursor: pointer;
  border-bottom: 2px solid rgb(238,238,238);
  margin: 0;
}

.widget-content {
  padding: 20px 0;
}


/**
 * Timer terms widget
 */
.term-buttons-bar {
  color: rgb(155, 155, 155);
  font-size: 18px;
}

.back-arrow .fa {
  color: rgb(155, 155, 155);
  line-height: 18px;
  font-size: 34px;
  vertical-align: middle;
}


/**
 * New Timer form.
 */
.ptt-form h1 {
  margin-top: 20px;
}

.ptt-details-form {
  margin-top: 20px;
}

.ptt-details-form textarea {
  height: 80px;
  resize: vertical;
}

.more-fields {
  height: 40px;
  overflow: hidden;
}

.more-link {
  display: inline-block;
  margin-bottom: 20px;
}

.ptt-form-clients {
  font-size: 12px;
}

.ptt-client-field-wrapper {
  height: 16px;
  overflow: hidden;
  margin-left: 10px;
}

.ptt-client-field-wrapper.unfolded .add-new-client-link,
.more-fields.unfolded .more-link {
  display: none;
}

.add-new-client-link {
  display: inline-block;
  margin-bottom: 10px;
}

.unfolded {
  height: auto;
}

.ptt-form-clients input[type="checkbox"] {
  width: 10px;
  height: 10px;
  line-height: normal;
}

.ptt-form-clients input[type="text"] {
  width: 100%;
  margin-bottom: .4em;
}

.ptt-form-clients > label {
  margin-bottom: 12px;
}

.ptt-form-clients .taxonomy-terms-list label {
  margin-bottom: 8px;
  font-size: 12px;
}

.ptt-form-clients .taxonomy-terms-list ul {
  margin-bottom: 0;
}

.ptt-form-clients .taxonomy-terms-list li {
  padding: 0;
}

.new-tag-input {
  width: 74%;
  margin-right: 1.5%;
}

.new-tag-add-button {
  width: 24%;
  display: inline-block;
  min-width: 1px;
  padding: 0 4%;
}

.tags-list {
  margin: 7px 0 7px 16px;
  padding: 0;
  font-size: 12px;
  overflow: auto;
}

.tags-list > span {
  float: left;
  margin-right: 25px;
  font-size: 13px;
  line-height: 1.8em;
  cursor: default;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unfolded .tags-list .tag-delete-button {
  position: absolute;
  width: 23px;
  min-width: 1px;
  height: 23px;
  border: none;
  margin: 0 0 0 -18px;
  padding: 0;
  background: 0 0;
  cursor: pointer;
  text-indent: 0;
}

.tags-list .tag-delete-button .remove-tag-icon::before {
  margin-left: 2px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ccc;
  line-height: 1.28;
}

.tags-list .tag-delete-button .remove-tag-icon::before {
  background: 0 0;
  color: #ccc;
  content: "x";
  display: block;
  speak: none;
  height: 10px;
  width: 10px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 7px;
  font-size: 14px;
}

.tags-list .tag-delete-button:hover .remove-tag-icon::before {
  color: #888;
  border-color: #888;
}

.button.cancel,
button.cancel {
 float: right;
}

.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  word-wrap: normal !important;
}


/**
 * Timer created / updated confirmation page.
 */
.ptt-created h1,
.ptt-updated h1 {
  margin-top: 20px;
  margin-left: 20px;
}

.ptt-created p,
.ptt-updated p {
  text-align: center;
  margin: 90px 0 40px;
}

.ptt-created table,
.ptt-updated table {
  width: 100%;
  text-align: center;
}


/**
 * Reset button, New tab, Help button.
 */
.help-buttons-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  width: 82px;
}

.help-button {
  float: right;
}
.reset-link,
.new-tab-link {
  /*display: none;*/
  position: absolute;
  right: -38px;
}

.help-buttons-wrapper:hover .reset-link {
  position: fixed;
  right: 38px;
  transition: .5s;
}

.help-buttons-wrapper:hover .new-tab-link {
  position: fixed;
  right: 70px;
  transition: .5s;
}


/**
 * New Timer
 */
.timer-started {
  text-align: center;
  margin-bottom: 8px;
}

.timer-started .time {
  color: rgb(197, 0, 0);
}

/**
 * New / Stop Timer button
 */
.timer-button {
  display: block;
  width: 54%;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  border: 0;
  box-sizing: border-box;
}

.timer-button svg {
  pointer-events: none !important;
}

.timer-new-button path {
  fill: #099c22;
}

.timer-stop-button path {
  fill: #d60000;
}


/**
 * New Timer form
 */
.timer-taxonomies-wrapper .new-tag-input {
  width: 100%;
  margin-right: 0;
}
