/*
 http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
  font-size: 16px;
  color: #444;
  font-family: 'Open Sans', Arial, sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
pre {
  display: block;
  overflow: auto;
  background-color: #f4f4f4;
  padding: 0.375em;
  box-sizing: border-box;
}
code {
  white-space: nowrap;
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
label {
  font-size: inherit;
    margin-bottom: 0.25em;
    display: inline-block;
    text-transform: uppercase;
}
textarea,
input {
  padding: 0.375em;
  line-height: 1.5;
  font-size: inherit;
  background: #fff;
  border: 0.0625em solid #ececec;
  margin-bottom: 1.25em;
  width: 100%;
  box-sizing: border-box;
}
input[type="submit"] {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  border: 0.0625em solid #ececec;
  background: #fff;
  border-radius: 0.125em;
  font-size: inherit;
}
.premise-field {
  margin-bottom: 0;
}

/*
 Typography
 */

h1 {
  font-size: 2em;
  line-height: 1.8;
  color: inherit;
}

h3 {
  font-size: 1.5em;

}

p {
  margin-bottom: 1.3em;
}

a {
  color: #206FCC;
  text-decoration: none;
  display: inline-block;
}

/*
 Miscellanious
 */

.loading_icon {
  padding: 25% 0;
}

.primary_btn a,
.primary_btn input,
.primary_btn button {
  display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.8em 1.6em;
    text-align: center;
    text-transform: uppercase;
    background-color: #206fcc;
    color: #FFF;
    font-size: 1em;
    letter-spacing: 0.125em;
    border: 0;
    border-radius: 0.375em;
}

.message .error {
  color: #d20404;
}

/**
 * Layout
 */

.ptt-app {
  min-width: 320px;
  min-height: 520px; /* need to figure out size of iPhone5 */
  width: 100%;
}

.header {
  padding: 1em 0;
  text-align: center;
  background-color: #206FCC;
  margin-bottom: 2em;
  display: block;
  color: #FFF;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

/*
 Discover
 */

.discover_module .container {
  max-width: 400px;
}

#discover_form {
  margin: 1em auto;
}

/*
 the dashboard
 */

.dashboard_header {
  text-align: center;
  /*box-shadow: 0 0.0125em 0.005em 0.0125em #333;*/
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.dashboard_box {
  max-width: 90%;
  border: 0.0125em solid #cecece;
  border-radius: 0.250em;
  margin: 1em auto;
  padding: 0.375em;
}

.dashboard_box .dashboard_box_header {
  /*border-bottom: 0.0125em solid #cecece;*/
  /*margin-bottom: 1em;
  padding-bottom: 1em;*/
}

.dashboard_box .dashboard_close_box {
  float: right;
  font-size: 1.4em;
}

.dashboard_box .dashboard_box_header h3 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.dashboard_box .dashboard_box_header span {
  font-size: 0.8em;
  text-align: center;
}

.dashboard_box .dashboard_box_content {
  border-top: 0.0125em solid #cecece;
  padding-top: 0.375em;
  margin-top: 0.375em;
  overflow: hidden;
}

/*
 Timer
 */

.timers_list .timer_li {
  border: 0.0125em solid #cecece;
  border-radius: 0.250em;
  margin: 0.375em auto;
  padding: 0.375em;
}

.timers_list .timer_li h2 {
  font-size: 1.5em;
    margin-bottom: 0.4em;
    line-height: 1;
}

.timers_list .timer_li .time {
  float: right;
  font-size: 1.5em;
    line-height: 1;
}

.timers_list .timer_li .description {
  line-height: 1.5;
  font-size: 1em;
  margin-bottom: 1em;
}

/*
 Taxonomies
 */

.taxonomy_view .close_taxonomy {
  text-align: right;
  font-size: 1.5em;
  color: #000;
  /*float: right;*/
  padding: 0 0.0375em;
}
.taxonomy_view .close_taxonomy:after {
  content: '';
  display: block;
  clear: both;
}

.taxonomy_list .tax_li {
  display: block;
  padding: 0.375em 0;
  /*border-bottom: 0.0125em solid #cecece;*/
}

/*
 New Timer
 */

#new_timer {
  position: relative;
  padding: 0 0 2em 0;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

#new_timer_btn,
#stop_timer_btn {
  display: block;
  width: 80%;
    padding: 5em;
  margin: 0 auto;
    background: #fff;
    border-radius: 0.375em;
    border: 0;
    box-shadow: 0 0 0.125em #aaa;
    box-sizing: border-box;
}

#new_timer_btn svg,
#stop_timer_btn svg {
  pointer-events: none !important;
}

#new_timer_btn path {
  fill: #099c22;
}
#stop_timer_btn path {
  fill: #d60000;
}

#new_timer .message {
  text-align: center;
  padding: 1.5em;
}

#new_timer .message .time {
  color: #d60000;
}

.new_timer_form {
  display: block;
  width: 90%;
  margin: 1em auto;
}

.new_timer_form form.hide {
  display: none;
}

.new_timer_form .toggle_form {
  display: inline-block;
  margin: 0 auto;
}

.new_timer_form .clients,
.new_timer_form .projects {
  margin-bottom: 1.125em;
}

.new_timer_form .taxonomy_field label > input,
.new_timer_form .taxonomy_field label > span {
  display: inline-block;
  vertical-align: middle;
}

.new_timer_form .taxonomy_field label > input {
  margin: 0;
  margin-right: 0.5em;
}