/**
 * Header
 */
.header {
  background-color: rgba(32,111,204,0.8);
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 0 .125em .0125em #444;
}

.header h2 {
  margin: 0;
  line-height: 1;
  font-size: 1.5em;
  font-weight: 400;
}

/**
 * Error.
 */
.error {
  color: rgb(182, 0, 4);
}


/**
 * Discover WP API screen.
 */
.discover-wp-api {
  padding: 10px 14px 0;
}

.land-url {
  display: block;
  overflow: auto;
  font-size: inherit;
  padding: 5px 7px;
}

/**
 * Main screen.
 */
.loading-icon > span.message {
  margin-top: 15px;
  display: inline-block;
}

.title-clients {
  margin-top: 40px;
}

.taxonomy-terms-list {
  list-style-type: none;
  padding-left: 0;
}

.no-taxonomy-found,
.taxonomy-terms-list {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.taxonomy-terms-list li {
  padding: 6px 0;
}

.taxonomy-terms-list a {
  text-decoration: none;
}

.taxonomy-terms-list .total-hours {
  float: right;
  font-size: 14px;
  color: rgb(155, 155, 155);
  line-height: 27px;
}


/**
 * Dashboard widgets.
 */
.timer-dashboard-widget {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 0 20px;
  /*max-height: 1500px;*/
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.timer-dashboard-widget .loading-icon {
  margin: 32px 0;
}

.timer-dashboard-widget.project.open,
.timer-dashboard-widget.client.open {
  min-height: 290px;
}

.timer-dashboard-widget.closed {
  max-height: 54px;
  overflow-y: hidden;
}

.widget-title {
  text-align: center;
  font-size: 24px;
  line-height: 52px;
  color: rgb(52, 52, 52);
  cursor: pointer;
  border-bottom: 2px solid rgb(238,238,238);
  margin: 0;
}

.widget-content {
  padding: 20px 0;
}


/**
 * Timer terms widget
 */
.term-controls-bar {
  height: 18px;
  color: rgb(155, 155, 155);
  font-size: 18px;
  position: relative;
}

.term-controls-bar .fa {
  color: rgb(155, 155, 155);
  line-height: 18px;
  vertical-align: top;
}

.back-arrow,
.term-filters-wrapper {
  display: inline-block;
  max-width: 40px;
}

.back-arrow {
  margin-right: 22px;
}

.term-filters-wrapper {
  font-size: 24px;
  max-width: 30px;
}

.term-filters {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  background: #fff;
  margin-top: 7px;
  padding: 15px 10px 20px 6px;
  width: 100%;
  display: none;
}

.term-filters.open {
  display: block;
}

/* https://davidwalsh.name/demo/css-triangles.php */
.term-filters:before, .term-filters:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 11px solid transparent; /* arrow size */
}

.term-filters:before {
  border-bottom-color: #fff;  /* arrow color */
  /* positioning */
  position: absolute;
  top: -20px;
  left: 60px;
  z-index: 2;
}

/* arrow which acts as a background shadow */
.term-filters:after {
  border-bottom-color: #fafafa;  /* Fallback */
  border-bottom-color: rgba(0, 0, 0, 0.2);  /* arrow color */

  /* positioning */
  position: absolute;
  top: -22px;
  left: 60px;
  z-index: 1;
}

.term-filters p {
  padding: 0 7px;
  margin-bottom: 14px;
}

.term-filters select {
  background: #fff;
  padding: 3px 7px;
  margin-bottom: 20px;
}

.term-filters input,
.term-filters select {
  width: 100%;
  border: 1px solid rgb(238, 238, 238);
}

.back-arrow .fa {
  font-size: 34px;
}

.term-total-hours-wrapper {
  float: right;
}

/**
 * Term timers
 */
.no-timers-found {
  margin-top: 2em;
  display: block;
}

.term-timers-list {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.term-timers-list li {
  position: relative;
  border: 1px solid rgb(238,238,238);
  border-radius: 5px;
  padding: 14px 14px 0;
  margin: 20px 0;
  font-size: 18px;
  display: block;
  height: auto;
}

.term-timers-list .edit-timer-ui {
  position: absolute;
  top: .025em;
  right: .025em;
}

.term-timers-list li:nth-child(even) {
  background-color: rgb(250,250,250);
}

.term-timers-list li:last-of-type {
  margin-bottom: 0;
}

.term-timers-list h4 {
  font-size: 20px;
  margin-bottom: 11px;
}

.term-timers-list .timer-details-wrapper {
  color: rgb(155, 155, 155);
}

.term-timers-list .timer-date {
  font-size: 14px;
}

.term-timers-list .timer-description {
  padding-bottom: 13px;
  border-bottom: 1px solid rgb(238,238,238);
  margin-bottom: 8px;
}

.term-timers-list .timer-project {
  display: inline-block;
  margin-bottom: 6px;
}

.term-timers-list .timer-hours {
  float: right;
}


.user-buttons-wrapper,
.help-buttons-wrapper {
  position: fixed;
  z-index: 9999;
}

/**
 * Reset button, New tab, Help button.
 */
.help-buttons-wrapper {
  font-size: 24px;
  right: .6em;
  bottom: .6em;
  width: 82px;
}

.help-button {
  float: right;
}
.reset-link,
.new-tab-link {
  /*display: none;*/
  position: absolute;
  right: -43px;
}

.help-buttons-wrapper:hover .reset-link {
  position: fixed;
  right: 43px;
  transition: .5s;
}

.help-buttons-wrapper:hover .new-tab-link {
  position: fixed;
  right: 70px;
  transition: .5s;
}

/**
 * User buttons
 */

.user-buttons-wrapper {
  /*font-size: 24px;*/
  left: .3em;
  bottom: .3em;
}

.user-buttons-wrapper .user-avatar {
  width: 48px;
  height: 48px;
  display: block;
  background-color: rgba(255,255,255,0.8);
  border: 0.0125em solid #ccc;
  border-radius: 50%;
  /*padding: .5em;*/
  box-sizing: content-box;
}

.user-buttons-wrapper .user-avatar img {
  display: block;
  margin: 0 auto;
}

.user-buttons-wrapper .user-options {
  font-size: 1em;
  width: 200px;
  margin-bottom: .5em;
  height: auto;
  display: block;
  background-color: rgba(255,255,255,0.8);
  padding: 1em;
  border: 0.0125em solid #ccc;
  border-radius: .3em;
}

.user-buttons-wrapper .user-options a {
  text-decoration: none;
}


/**
 * New Timer
 */
.timer-started {
  text-align: center;
  margin-bottom: 8px;
}

.timer-started .time {
  color: rgb(197, 0, 0);
}

/**
 * New / Stop Timer button
 */
.timer-button {
  display: block;
  width: 54%;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  border: 0;
  box-sizing: border-box;
}

.timer-button svg {
  pointer-events: none !important;
}

.timer-new-button path {
  fill: #099c22;
}

.timer-stop-button path {
  fill: #d60000;
}


/**
 * New Timer form
 */
.timer-new-form {
  display: block;
  margin-bottom: 1em;
}
.timer-new-form.processing {
  position: relative;
  height: 100%;
}
.timer-new-form.processing * {
  /*opacity: 0.6;*/
}
.timer-new-form.processing > .loading-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  padding-top: 50%;
  margin: 0 auto;
}
.timer-taxonomies-wrapper .new-tag-input {
  width: 100%;
  margin-right: 0;
  outline: 0;
}
.timer-taxonomies-wrapper .notification {
  display: inline-block;
  float: right;
  font-size: 0.6em;
}